<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>

<body style="font-family: Arial">
    <header>
        <h1>Trish Harsono</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div></div>
        <h2>Contact me</h2>
        <form action="/action_page.php" method="get">
            <label for="fname">Full name:</label>
            <input type="text" id="fname" name="fname" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
            <input type="submit" value="Submit">
        </form>
    
        <table>
            <tr>
                <th>
                    Phone
                </th>
                <td>
                    (412)7263166
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    harsonotrish@gmail.com
                </td>
            </tr>
            <tr>
                <th>
                    LinkedIn
                </th>
                <td>
                    <a href="https://www.linkedin.com/in/tharsono">Profile</a>
                </td>
            </tr>
        </table>
        
    
    <footer>
        <p>&copy; 2025 Trish Harsono</p>
    </footer>
</body>
</html>