<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Trish Harsono</h1>
        <nav class = "menu">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
<div class = "mainLayout">
    <div id = "item1">
        <h2>Find me</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6072.8164513310385!2d-79.94466422390988!3d40.44410085397296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f221e409b945%3A0x16b3417bd3538dfb!2sJared%20L.%20Cohon%20University%20Center!5e0!3m2!1sen!2sus!4v1742752029984!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
    </div>
    <div id = "item2">
        <h2 id = "contact">Contact me</h2>
        <form action="/action_page.php" method="get" id = "form">
            <label for="fname">Full name:</label>
            <input type="text" id="fname" name="fname" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
            <input type="submit" value="Submit" onclick="validateForm()">
            <p id = "error"> Fill out your form correctly so I can get back to you!</p>
        </form>
    </div>
</div>
        <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Contact method
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    Phone
                </th>
                <td>
                    (412)7263166
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    harsonotrish@gmail.com
                </td>
            </tr>
            <tr>
                <th>
                    LinkedIn
                </th>
                <td>
                    <a href="https://www.linkedin.com/in/tharsono">Profile</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <footer id="copyYear">
        <p>&copy;Trish Harsono</p>
    </footer>
</body>
</html>
