<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
    <body>
    <header>
        <h1 id="webname">Trish Harsono</h1>
        <nav class = "menu">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div></div>
        <h2 id = "contact">Contact me</h2>
        <form action="/action_page.php" method="get" id = "form">
            <label for="fname">Full name:</label>
            <input type="text" id="fname" name="fname" required><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
            <input type="submit" value="Submit">
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>
                        Contact method
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    Phone
                </th>
                <td>
                    (412)7263166
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    harsonotrish@gmail.com
                </td>
            </tr>
            <tr>
                <th>
                    LinkedIn
                </th>
                <td>
                    <a href="https://www.linkedin.com/in/tharsono">Profile</a>
                </td>
            </tr>
        </tbody>
        </table>
        
    
    <footer>
        <p>&copy; 2025 Trish Harsono</p>
    </footer>
</body>
</html>