<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>

<body style="font-family: Arial">
    <header>
        <h1>Trish Harsono</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    
    <div></div>
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr> 
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Class of 2028, Bachelors of Science in Information Systems</td>
            </tr>    
            <tr>
                <td>Jakarta Intercultural School</td>
                <td>Class of 2024, High School Diploma</td>
            </tr>    
        </table>
            <a href="static/Resume - Trish Harsono.pdf">My resume (pdf)</a>

    
    <footer>
        <p>&copy; 2025 Trish Harsono</p>
    </footer>
</body>
</html>