<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Trish Harsono</h1>
        <nav class = "menu">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    
    <div></div>
        <h2>Curriculum Vitae</h2>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>   
            </thead>
            <tbody>
                <tr>
                <td>Carnegie Mellon University</td>
                <td>Class of 2028, Bachelors of Science in Information Systems</td>
            </tr>    
            <tr>
                <td>Jakarta Intercultural School</td>
                <td>Class of 2024, High School Diploma</td>
            </tr> 
            <tr>
                <td>Institute 3</td>
                <td>None</td>
            </tr> 
            <tr>
                <td>Institute 4</td>
                <td>None</td>
            </tr>    
            </tbody>
            
        </table>
            <a href="../static/Resume-TrishHarsono.pdf">My resume (pdf)</a>

    
    <footer>
        <p>&copy; 2025 Trish Harsono</p>
    </footer>
</body>
</html>