<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
    <script src="../static/script.js" defer></script>
</head>
    
<body onload="addYear()">
    <header>
        <h1 id="webname">Trish Harsono</h1>
        <nav class = "menu">
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class = "mainLayout">
        <div id = "item1">
        <h2>Things I love to do for fun</h2>
        <!--
        <button onclick="showList()" >Click to see...</button>
        -->
        <ul id = "list">
            <li>
                Crochet
            </li>
            <li>
                Watch movies
            </li>
            <li>
                Dance
            </li>
            <li>
                Cook and bake
            </li>
        </ul>
        </div>
        <div id = "item2">
            <img class = "funIMG" src="../static/matcha.jpg" alt="matcha" height="300" width = "200">
        </div>
    <div id = "item3">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/cI0S-kT7x6M&t=387s&ab_channel=Nino%27sHome" title="coffeebread"></iframe>
    </div>

    <div id = "item4">
        <div class = "container">
            <h2>Need some advice?</h2>
            <p id = "adviceText">Click the button to get a random piece of advice</p>
            <button onclick="getAdvice()"> Click me</button>
        </div>
    </div>
    </div>
        
    
        <footer id="copyYear">
            <p>&copy;Trish Harsono</p>
        </footer>
</body>
</html>