*{
    font-family: 'Roboto', Times, serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #9fc58e;
}

.menu a {
    text-decoration: none;
    color: #c58ea6;
    margin-right: 15px;
}

thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #c58ea6;
    color: black;
    width: fit-content;
    
}

tbody tr:nth-child(odd){
    background-color: beige;
}

#contact, #form{
    display: block;
    margin: auto;
    text-align: center;
}


